
<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
<div id="map"></div>

<form>
  	<fieldset>
	    <legend>Ecrivez-moi</legend>


	    <div class="row">
	        <div class="large-6 columns">
		        <label>Votre Nom</label>
		        <input type="text" placeholder="Nom">
	        </div>
	        <div class="large-6 columns">
		        <label>Votre Email</label>
		        <input type="text" placeholder="Email">
	        </div>
	      
	    </div>

	    <div class="row">
	      <div class="large-12 columns">
	        <label>Votre Message</label>
	        <textarea placeholder="Message"></textarea>
	      </div>
	    </div>

  	</fieldset>
</form>
