
<div class="small-12 entete panel">

	<div class="titre">Olivier Ducroux</div>
	<br>
	<h4 class="subheader">Développeur Freelance à Montpellier</h4>

</div>

<div class="small-12 corps">

	<div class="small-6 columns">
		<div class="panele">
			<h3><i class="foundicon-settings"></i>&nbsp;Développement Web</h3>
			<p>From small startups to bigger companies, I’ve built many protoypes and applications. Bootstrapping ideas or building large web applications is delivered through carefully crafted and tested code.</p>
		</div>
		<div class="panele">
			<h3><i class="foundicon-globe"></i>&nbsp;Système et Réseaux</h3>
			<p>From small startups to bigger companies, I’ve built many protoypes and applications. Bootstrapping ideas or building large web applications is delivered through carefully crafted and tested code.</p>
		</div>
	</div>

	<div class="small-6 columns">
		<div class="panele">
			<h3><i class="foundicon-tools"></i>&nbsp;Ruby, Rails et Javascript</h3>
			<p>From small startups to bigger companies, I’ve built many protoypes and applications. Bootstrapping ideas or building large web applications is delivered through carefully crafted and tested code.</p>
		</div>
		<div class="panele">
			<h3><i class="foundicon-cloud"></i>&nbsp;Cloud</h3>
			<p>From small startups to bigger companies, I’ve built many protoypes and applications. Bootstrapping ideas or building large web applications is delivered through carefully crafted and tested code.</p>
		</div>

	</div>

	<!--
	<div class="small-3 left">
		<article class="leftcontent">
			<ul class="no-bullet">
				<li><h4>Mes prestations</h4></li>
				<li>
					<ul>
						<li>Developement Web</li>
						<li>Ruby et Rails</li>
					</ul>
				</li>
				<li>Cloud</li>
			</ul>
		</article>
	</div>


	<div class="small-9 right">
		<article class="textcontent">
			<p>Spécialisé dans les technologies Ruby et Ruby on Rails je développe tout type d'application.</p>
		</article>
	</div>
	-->

</div>


