
<div class="small-12 entete panel">

  <p class="titre">Ruby and Javascript developer</p>

</div>

<div class="small-12 ">

  <article class="presentation">
    <p>Hi ! I'm a passionate developer.</p>
    <p>I specialise in Ruby on Rails agile web development.</p>
    <p>I live in Lyon, France.</p>
  </article>

</div>







