
<div class="small-12 entete">

	<h1>Olivier Ducroux<small>&nbsp;Web developer</small></h1>
	<br>
	<h4 class="subheader">Spécialiste Ruby et Ruby on Rails</h4>

</div>

<div class="small-12">

	<div class="small-3 left">
		<article class="leftcontent">
			<ul class="no-bullet">
				<li>Developement Web</li>
				<li>
					<ul>
						<li>Developement Web</li>
						<li>Ruby et Rails</li>
					</ul>
				</li>
				<li>Cloud</li>
			</ul>
		</article>
	</div>


	<div class="small-9 right">
		<article class="textcontent">
			<h3>Hi there</h3>
			<p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor </p>
		</article>
	</div>

</div>



<hr/>

<div class="progress"><span class="meter test"  style="width: 0%"></span></div>
<div class="progress"><div class="meter"></div></div>
<div class="progress large-6 success round"><span class="meter test2" style="width: 0%"></span></div>
<div class="progress large-6 success round"><span class="meter"></span></div>

