

<div class="small-12 corps">

	<div class="small-6 columns">
		<div class="panele">
			<h3><i class="foundicon-idea"></i>&nbsp;Web Development</h3>
      <!--<p>From small startups to bigger companies, i’ve built many protoypes and applications. Bootstrapping ideas or building large web applications is delivered through carefully crafted and tested code.</p>-->
			<p>Developing with Ruby and Rails, i have built a variety of live websites and webapps. I also have working experience of javascript and good knowledge of javascript framework angularjs.</p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="panele">
			<h3><i class="foundicon-tools"></i>&nbsp;Ruby, Rails et Javascript</h3>
			<p>Developing with Ruby and Rails, i have built a variety of live websites and webapps. I also have working experience of javascript and good knowledge of javascript framework angularjs.</p>
		</div>
	</div>

	<div class="small-6 columns">
		<div class="panele">
			<h3><i class="foundicon-settings"></i>&nbsp;System</h3>
			<p>Developing with Ruby and Rails, i have built a variety of live websites and webapps. I also have working experience of javascript and good knowledge of javascript framework angularjs.</p>
			
			</p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="panele">
			<h3><i class="foundicon-cloud"></i>&nbsp;Cloud</h3>
			<p>Developing with Ruby and Rails, i have built a variety of live websites and webapps. I also have working experience of javascript and good knowledge of javascript framework angularjs.</p>
		</div>
	</div>

	<div class="small-6 columns">
		<div class="panele">
			<h3><i class="foundicon-website"></i>&nbsp;Responsive Design</h3>
			<p>Developing with Ruby and Rails, i have built a variety of live websites and webapps. I also have working experience of javascript and good knowledge of javascript framework angularjs.</p>
		</div>
	</div>
	<div class="small-6 columns">
		<div class="panele">
			<h3><i class="foundicon-lock"></i>&nbsp;Security</h3>
			<p>Developing with Ruby and Rails, i have built a variety of live websites and webapps. I also have working experience of javascript and good knowledge of javascript framework angularjs.</p>
		</div>
	</div>

</div>

