<!--

<div class="progress"><span class="meter test"  style="width: 0%">Ruby</span></div>

<div class="progress"><div class="meter"></div></div>

<div class="progress large-6 success round"><span class="meter test2" style="width: 0%"></span></div>

<div class="progress large-6 success round"><span class="meter"></span></div>

-->

<section class="skills">

	<article class="skillset row">
		<h4>Langages</h4>
		<hr/>

		<div class="small-6 columns">
			<h5>Ruby</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>

		<div class="small-6 columns">
			<h5>Javascript</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>

		<div class="small-6 columns">
			<h5>HTML5</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>

		<div class="small-6 columns">
			<h5>CSS3</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>
	</article>


	<article class="skillset1 row">
		<h4>Frameworks</h4>
		<hr/>

		<div class="small-6 columns">
			<h5>Ruby on Rails</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>

		<div class="small-6 columns">
			<h5>Sinatra</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>

		<div class="small-6 columns">
			<h5>Backbonejs</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>

		<div class="small-6 columns">
			<h5>Angularjs</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>
	</article>

	<article class="skillset2 row">
		<h4>Databases</h4>
		<hr/>

		<div class="small-6 columns">
			<h5>Mysql</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>

		<div class="small-6 columns">
			<h5>Postgresql</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>

		<div class="small-6 columns">
			<h5>Mongodb</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>

		<div class="small-6 columns">
			<h5>Redis</h5>
			<div class="progress large-12 success round"><span class="meter"></span></div>
		</div>
	</article>

</section>

