<!--

<div class="progress"><span class="meter test"  style="width: 0%">Ruby</span></div>

<div class="progress"><div class="meter"></div></div>

<div class="progress large-6 success round"><span class="meter test2" style="width: 0%"></span></div>

<div class="progress large-6 success round"><span class="meter"></span></div>

-->

<section class="skills">

	<article class="small-12">

		<div class="small-6 columns">
			<article class="skillset row">
				<h4>Langages</h4>
				<hr/>

				<div class="small-6 columns">
					<h5>Ruby</h5>
					<div class="progress large-12 success round"><span class="meter ruby"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Javascript</h5>
					<div class="progress large-12 success round"><span class="meter javascript"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>HTML5</h5>
					<div class="progress large-12 success round"><span class="meter html5"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>CSS3</h5>
					<div class="progress large-12 success round"><span class="meter css3"></span></div>
				</div>
			</article>
		</div>

		<div class="small-6 columns">
			<article class="skillset1 row">
				<h4>Frameworks</h4>
				<hr/>

				<div class="small-6 columns">
					<h5>Ruby on Rails</h5>
					<div class="progress large-12 success round"><span class="meter ror"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Sinatra</h5>
					<div class="progress large-12 success round"><span class="meter sinatra"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Backbonejs</h5>
					<div class="progress large-12 success round"><span class="meter backbone"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Angularjs</h5>
					<div class="progress large-12 success round"><span class="meter angular"></span></div>
				</div>
			</article>
		</div>

		<div class="small-6 columns">
			<article class="skillset2 row">
				<h4>Design</h4>
				<hr/>

				<div class="small-6 columns">
					<h5>Photoshop</h5>
					<div class="progress large-12 success round"><span class="meter ps"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Indesign</h5>
					<div class="progress large-12 success round"><span class="meter indesign"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Twitter Bootstrap</h5>
					<div class="progress large-12 success round"><span class="meter tb"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Zurb Foundation</h5>
					<div class="progress large-12 success round"><span class="meter zurb"></span></div>
				</div>
			</article>
		</div>


		<div class="small-6 columns">
			<article class="skillset3 row">
				<h4>Cloud</h4>
				<hr/>

				<div class="small-6 columns">
					<h5>Amazon Web Service</h5>
					<div class="progress large-12 success round"><span class="meter aws"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Heroku</h5>
					<div class="progress large-12 success round"><span class="meter heroku"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>VPS deployment</h5>
					<div class="progress large-12 success round"><span class="meter vps"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Infrastructures</h5>
					<div class="progress large-12 success round"><span class="meter infrastructure"></span></div>
				</div>
			</article>
		</div>

		<div class="small-6 columns">
			<article class="skillset4 row">
				<h4>Databases</h4>
				<hr/>

				<div class="small-6 columns">
					<h5>Mysql</h5>
					<div class="progress large-12 success round"><span class="meter mysql"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Postgresql</h5>
					<div class="progress large-12 success round"><span class="meter pg"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Mongodb</h5>
					<div class="progress large-12 success round"><span class="meter mongo"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Redis</h5>
					<div class="progress large-12 success round"><span class="meter redis"></span></div>
				</div>
			</article>
		</div>
		<div class="small-6 columns">
			<article class="skillset5 row">
				<h4>Système</h4>
				<hr/>

				<div class="small-6 columns">
					<h5>Linux</h5>
					<div class="progress large-12 success round"><span class="meter linux"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Server Administration</h5>
					<div class="progress large-12 success round"><span class="meter admin"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Networking</h5>
					<div class="progress large-12 success round"><span class="meter networking"></span></div>
				</div>

				<div class="small-6 columns">
					<h5>Security</h5>
					<div class="progress large-12 success round"><span class="meter security"></span></div>
				</div>
			</article>
		</div>

	</article>

</section>


