<div class="row">

	<h1>Hello</h1>

	<div id="tab-container" class="tab-container">

		<ul class='etabs' id="navigation-menu">
			<li class='tab'><a id="perfil" href="#profile"><i class="foundicon-address-book"></i>&nbsp;&nbsp;<span>Profile</span></a></li>
			<li class='tab'><a id="portfo" href="#portfolio"><i class="foundicon-edit"></i>&nbsp;&nbsp;<span>Portfolio</span></a></li>
			<li class='tab'><a id="documentos" href="#documents"><i class="foundicon-paper-clip"></i>&nbsp;&nbsp;<span>Documents</span></a></li>
			<li class='tab'><a id="contactos" href="#contact"><i class="foundicon-mail"></i>&nbsp;&nbsp;<span>Contact</span></a></li>
		</ul>

		<section id="articles">
			<article id="profile" class="premier">
				<p>HTML Markup for these tabs</p>
				<div class="progress"><span class="meter test"  style="width: 0%"></span></div>
				<div class="progress"><div class="meter"></div></div>
				<div class="progress large-6 success round"><span class="meter test2" style="width: 0%"></span></div>
				<div class="progress large-6 success round"><span class="meter"></span></div>
				<!-- content -->
			</article>

			<article id="portfolio" class="deuxieme">
				<%= render "portfolio" %>
			</article>

			<article id="documents" class="quatrieme">
				<p>CSS Styles for these tabs</p>
				<!-- content -->
			</article>
			<article id="contact" class="troisieme">
				<p>CSS Styles for these tabs</p>
				<div class="progress"><span class="meter"></span></div>
				<div class="progress"><div class="meter"></div></div>
				<div class="progress large-6 success round"><span class="meter test" style="width: 40%"></span></div>
				<div class="progress large-6 success round"><span class="meter"></span></div>
				<!-- content -->
			</article>
		</section>

	</div>

</div>