
<section class="index">

	<div class="row">


		<div id="tab-container" class="tab-container">

			<ul class='etabs' id="navigation-menu">

				<li class='tab'><a id="perfil" href="#profile"><i class="foundicon-address-book"></i>&nbsp;&nbsp;<span>Profile</span></a></li>
				<li class='tab'><a id="technos" href="#technologies"><i class="foundicon-tools"></i>&nbsp;&nbsp;<span>Technologies</span></a></li>
				<li class='tab'><a id="portfo" href="#portfolio"><i class="foundicon-edit"></i>&nbsp;&nbsp;<span>Portfolio</span></a></li>
				<li class='tab'><a id="documentos" href="#documents"><i class="foundicon-paper-clip"></i>&nbsp;&nbsp;<span>Documents</span></a></li>
				<li class='tab'><a id="contactos" href="#contact"><i class="foundicon-mail"></i>&nbsp;&nbsp;<span>Contact</span></a></li>

			</ul>

			<section id="articles">

				<article id="profile" class="premier">

					<%= render "profile" %>

				</article>

				<article id="technologies" class="technos">

					<%= render "technologies" %>

				</article>

				<article id="portfolio" class="deuxieme">

					<%= render "portfolio" %>

				</article>

				<article id="documents" class="quatrieme">

					<p>CSS Styles for these tabs</p>
					<div class="progress"><span class="meter"></span></div>
					<div class="progress"><div class="meter"></div></div>
					<div class="progress large-6 success round"><span class="meter test" style="width: 40%"></span></div>
					<div class="progress large-6 success round"><span class="meter"></span></div>

				</article>

				<article id="contact" class="troisieme">

					<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
					<div id="map"></div>

				</article>

			</section>

		</div>

	</div>

</section>