
<section class="index">

	<div class="row">


		<div id="tab-container" class="tab-container">

			<ul class='etabs' id="navigation-menu">

				<li class='tab'><a href="#profile"><i class="foundicon-address-book"></i>&nbsp;&nbsp;<span>About</span></a></li>
				<li class='tab'><a href="#technologies"><i class="foundicon-tools"></i>&nbsp;&nbsp;<span>Tools</span></a></li>
				<li class='tab'><a href="#contact"><i class="foundicon-mail"></i>&nbsp;&nbsp;<span>Contact</span></a></li>

			</ul>

			<section id="articles">

				<article id="profile" class="premier">

					<%= render "profile" %>

				</article>

				<article id="technologies" class="deuxieme">

					<%= render "technologies" %>

				</article>

				<article id="contact" class="troisieme">

					<%= render "contact/contact" %>

				</article>

			</section>

		</div>

	</div>

</section>

<br/>
<br/>
<br/>
