
article#contact{
	//height: 690px;
  .social-icons{
    padding-bottom: 20px;
  }
	background-color: rgb(242, 245, 214);
	//padding-top: 15px;
	#map{
		display: block;
		width: 100% !important;
		height: 300px !important;
		img{
	        max-width: none;
	    }
	}
	div.form{
		margin-top: 45px;
	}
  .dropmeline{
    font-family: Dali;
    font-size: 1.4em;
  }
  fieldset.formulaire label{
    font-family: corbert;

  }
  .contacttextarea{
    min-height: 100px !important;
  }
  .sendbutton{
    font-family: corbert;
  }
}
