
article#contact{
	height: 700px;
	background-color: rgb(242, 245, 214);
	padding-top: 15px;
	#map{
		display: block;
		width: 100% !important;
		height: 300px !important;
		img{
	        max-width: none;
	    }
	}
	div.form{
		margin-top: 45px;
	}
}
