html{
	height: 100%;
}

body{
	//background: #f6e6b4; /* Old browsers */
	//background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
	//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
	//background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
	//background: -o-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
	//background: -ms-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* IE10+ */
	//background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
	
	//background: #f2f5d6;
	background: url('fond.png') repeat;

	height: 100%;
}

@font-face{ 
	font-family: Corbert; 
	src: url('fonts/Corbert-Regular.otf'); 
} 
@font-face{ 
	font-family: Choco; 
	src: url('fonts/choco.otf'); 
} 
@font-face{ 
	font-family: Swanse; 
	src: url('fonts/swanse.TTF'); 
} 
@font-face{ 
	font-family: Argentina; 
	src: url('fonts/Argentina.ttf'); 
} 
@font-face{ 
	font-family: Videopac; 
	src: url('fonts/Videopac.ttf'); 
} 
@font-face{ 
	font-family: Str; 
	src: url('fonts/STR.otf'); 
} 
@font-face{ 
	font-family: KingQueen; 
	src: url('fonts/KingQueen.ttf'); 
} 
@font-face{ 
	font-family: BeforeRain; 
	src: url('fonts/BeforeTheRain_personal_use_demo.ttf'); 
} 
@font-face{ 
	font-family: LOKICOLA; 
	src: url('fonts/LOKICOLA.TTF'); 
} 
@font-face{ 
	font-family: Dali; 
	src: url('fonts/dali.ttf'); 
} 
@font-face{ 
	font-family: Aubrey; 
	src: url('fonts/AUBREY1__.TTF'); 
} 
@font-face{ 
	font-family: CANON; 
	src: url('fonts/CANON.ttf'); 
} 
@font-face{ 
	font-family: AmaliaMutia; 
	src: url('fonts/AmaliaMutia.ttf'); 
} 














