html{
	height: 100%;
}

body{
	background: url('/fond.png') repeat;
	height: 100%;
  .email_sent{
    background-color: rgb(242, 245, 214) !important;
    color: grey !important;
  }
}

@font-face{ 
	font-family: Corbert; 
	src: url('/typos/Corbert-Regular.otf'); 
} 
@font-face{ 
	font-family: Choco; 
	src: url('/typos/choco.otf'); 
} 
@font-face{ 
	font-family: Swanse; 
	src: url('/typos/swanse.TTF'); 
} 
@font-face{ 
	font-family: Argentina; 
	src: url('/typos/Argentina.ttf'); 
} 
@font-face{ 
	font-family: Videopac; 
	src: url('/typos/Videopac.ttf'); 
} 
@font-face{ 
	font-family: Str; 
	src: url('/typos/STR.otf'); 
} 
@font-face{ 
	font-family: KingQueen; 
	src: url('/typos/KingQueen.ttf'); 
} 
@font-face{ 
	font-family: BeforeRain; 
	src: url('/typos/BeforeTheRain_personal_use_demo.ttf'); 
} 
@font-face{ 
	font-family: LOKICOLA; 
	src: url('/typos/LOKICOLA.TTF'); 
} 
@font-face{ 
	font-family: Dali; 
	src: url('/typos/dali.ttf'); 
} 
@font-face{ 
	font-family: Aubrey; 
	src: url('/typos/AUBREY1__.TTF'); 
} 
@font-face{ 
	font-family: CANON; 
	src: url('/typos/CANON.ttf'); 
} 
@font-face{ 
	font-family: AmaliaMutia; 
	src: url('/typos/AmaliaMutia.ttf'); 
} 
@font-face{ 
	font-family: Japan; 
	src: url('/typos/Japan.ttf'); 
} 
@font-face{ 
	font-family: Traveling; 
	src: url('/typos/TravelingTypewriter.otf'); 
} 
@font-face{ 
	font-family: Artista; 
	src: url('/typos/artista.ttf'); 
} 
@font-face{ 
	font-family: Sansation; 
	src: url('/typos/Sansation.ttf'); 
} 
@font-face{ 
	font-family: Comfortaa; 
	src: url('/typos/Comfortaa-Light.ttf'); 
} 














