article#profile{
	height: 700px;
	background-color: white;
	padding-top: 15px;
	.entete{
		background:red; 
		height: 150px;
		h1{
			text-align: center;
			position: relative;
			top: 20px;
		}
		h4{
			position: relative;
			bottom: 20px;
			text-align: center;
		}
	}
	.left{
		background:green; 
		height: 350px;
		.leftcontent{
			//text-align: center;
			padding: 20px 40px;
		}
	}
	.right{
		background:blue; 
		height: 350px;
		.textcontent{
			padding: 20px 40px;
		}
	}
}