article#profile{
	height: 600px;
	background-color: rgb(242, 245, 214);
  .presentation{
    padding-top: 90px;
    text-align: center;
		color: grey;
		font-family: Comfortaa;
  }
	.entete{
		height: 180px;
		border-bottom: 5px solid rgb(182, 182, 182);
		.titre{
			color: grey;
			font-family: Dali;
			text-align: center;
			position: relative;
			top: 35px;
			font-size: 2.6em;
			font-weight: bold;
		}
	}
}
