article#profile{
	height: 700px;
	background-color: rgb(242, 245, 214);
	//background:rgb(190, 218, 185);
	//padding-top: 10px;
	.entete{
		//background:rgb(151, 215, 221); 
		//background-color: white;
		//background:rgb(190, 218, 185); 
		height: 150px;
		border-bottom: 5px solid rgb(182, 182, 182);
		.titre{
			text-align: center;
			position: relative;
			top: 20px;
			font-size: 2em;
			font-weight: bold;
			//color: rgb(146, 113, 70);
		}
		h4{
			position: relative;
			top: 15px;
			text-align: center;
		}
	}
	.corps{
		margin-top: 20px;
		padding: 0px 20px;
	}
	.left{
		background:#C0D2D3; 
		height: 540px;
		.leftcontent{
			//text-align: center;
			padding: 20px 40px;
			h4{
				color: #4C8EA8;
			}
		}
	}
	.right{
		background:#F8F8B2; 
		height: 540px;
		border-left: 5px solid rgb(182, 182, 182);
		.textcontent{
			padding: 20px 40px;
			h3{
				color: #6f6f6f;
			}
		}
	}
}