article#technologies{
	height: 900px;
	background-color: rgb(242, 245, 214);
	padding: 15px 15px;

	section.skills{
		padding: 20px;
		h4{
			text-align: center;

		}
		article.skillset{
			margin-bottom: 30px;
		}
		article.skillset1{
			margin-bottom: 30px;
		}

	}
}